<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonte -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/cabecalho.css">
  <link rel="stylesheet" href="/index.css">

  <title>Examoteca</title>
</head>
<body>

  <!-- HEADER -->
  <header>
    <div class="logo">
      <img src="/logo.png" alt="Examoteca">
      <span>Examoteca</span>
    </div>

    <nav>
      <ul>
        <li><a href="/cadastrarIdoso">Cadastrar idoso</a></li>
        <li><a href="/enviarExames">Enviar exames</a></li>
        <li><a href="/visualizarExames">Visualizar exames</a></li>
      </ul>
    </nav>

  </header>

  <!-- CONTEÚDO PRINCIPAL -->
  <section class="hero">
    <div class="texto">
      <h1>
        Com a <span class="azul">Examoteca</span><br>
        você pode <span class="destaque">organizar</span>,<br>
        <span class="destaque">armazenar</span> e<br>
        <span class="destaque">acompanhar</span> os<br>
        exames médicos do<br>
        seu familiar em um<br>
        só lugar
      </h1>
    </div>
   
      <div class="imagem-cuidador">
        <img src="/cuidadorEIdoso.webp" alt="Idoso com cuidador">
      </div>
  </section>

</body>
</html>
